@{
    ViewData["Title"] = "About";
}
<h3>@ViewData["Title"]</h3>

<p>
    <b>Name:</b> Santos,Rance Audric B.<br />
    <b>Stud ID No.:</b> 1247-18<br />
    <b>Age:</b> 20 Years Old<br />
    <b>Address:</b> B6 L33 Mahogany St. Villa Carolina 2 Tunasan Muntinlupa City<br />
    <b>Birthdate:</b> January 17, 2000<br />
    <b>Course:</b> BS in Information Technology
</p>
